@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');
@layer base {
  /* Scroll Bar */
  ::-webkit-scrollbar {
    width: 0.6rem;
    border-radius: 0.5rem;
    background-color: hsl(228, 8%, 76%);
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(228, 8%, 64%);
    border-radius: 0.5rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(228, 8%, 54%);
  }

  html {
    scroll-behavior: smooth;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

@layer components {
  .mobile_menu {
    @apply flex flex-col items-center py-3;
  }

  .mobile_menu_text {
    @apply font-medium text-sm;
  }

  .btn_primary {
    @apply text-xl bg-kuning text-black font-main font-medium rounded hover:bg-kuning2 transition duration-300;
  }

  .btn_secondary {
    @apply text-gray text-xl font-main font-medium border-2 border-kuning rounded;
  }

  .section_title {
    @apply font-main font-medium text-3xl mb-3;
  }

  .section_desc {
    @apply text-gray text-sm mb-4 md:text-base;
  }

  .button_sosmed {
    @apply flex items-center gap-2 py-3 justify-center text-lg rounded text-gray font-medium border border-kuning bg-white w-1/2 hover:bg-kuning hover:text-white hover:-skew-x-2 hover:-rotate-1 transition duration-200;
  }

  .portofolio_card,
  .sertifikat_card {
    @apply bg-white rounded-lg overflow-hidden w-[316px] shadow-md;
  }

  .portofolio_modal {
    @apply fixed inset-0 bg-modal_bg z-[2000] place-items-center p-5 overflow-y-auto;
  }

  .portofolio_modal_area {
    @apply bg-white rounded-xl max-w-lg p-10 my-auto relative;
  }

  /* Kontak Card */
  .kontak_card_container {
    @apply flex flex-col gap-4;
  }

  .kontak_card {
    @apply bg-white shadow-lg rounded-md px-4 pt-4 pb-7 text-center flex flex-col w-full lg:w-3/4 mx-auto hover:outline-1 hover:outline-kuning hover:outline;
  }

  .kontak_card_icon {
    @apply text-3xl mb-1;
  }

  .kontak_card_title {
    @apply font-main font-medium text-sm text-black;
  }

  .kontak_card_info {
    @apply text-gray text-sm mb-2;
  }

  .kontak_card_link_area {
    @apply flex mx-auto items-center gap-1;
  }

  .kontak_card_link {
    @apply text-sm text-gray;
  }

  .link_icon {
    @apply text-base text-kuning group-hover:translate-x-1 transition duration-300 pt-[2px];
  }

  /* Form Kontak */
  .form_area {
    @apply w-full lg:w-3/4 mx-auto;
  }

  .form_input_area {
    @apply relative mb-8 last-of-type:mb-0;
  }

  .label_input {
    @apply absolute left-4 -top-4 text-sm bg-white p-1;
  }

  .input_area,
  textarea {
    @apply p-4 rounded-lg outline-2 outline-gray outline w-full caret-kuning2;
  }

  textarea {
    @apply resize-none;
  }

  [placeholder] {
    @apply text-sm;
  }
}
